table.table01 {
  margin-top: 0.2em;  margin-bottom: 0em;
  /*width:450px;*/
  border-collapse: collapse;
  border: solid 1px #999;
  font-size: 12px;
}

table.table01 caption {
  margin-top: 1em;
  text-align: left;
}

table.table01 th,
table.table01 td {
  border: solid 1px #999;
  padding: 4px 6px;
}

table.table01 th {
  background: #E6E6E6;
  text-align: center;
  white-space: nowrap;
  color: #666;
    font-weight: bolder;
}

table.table01 td.head {
	  background: #E6E6E6;
  text-align: center;
  font-size: 100%;
  font-weight: bolder;
}

table.table01 td.time,
table.table01 td.fee {
  text-align: right;
  white-space: nowrap;
}
table.table01 select { 
width: 130px; 
}
table.table01 select5 { 
width: 20px; 
}
